.Pokecard {
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: white;
  border-radius: 3px;
  width: 12rem;
  margin: 1rem;
  padding: 10px;
  text-align: center;
}

.Pokecard-image {
  width: 100px;
}

.Pokecard-data {
  font-size: 80%;
}